$primary-bg: #1c1c20;
$secondary-bg: #34343b;

$cyan: cyan;
$light-cyan: lightcyan;

$grey: grey;
$light-grey: #747474;
$white: #fff;
$black: #000;

//
$primary-font-color: #fff;
//
$fs-x-large: 3rem;
$fs-large: 2.1rem;
$fs-xnormal: 1.5rem;
$fs-normal: 1.1rem;
$fs-small: 1rem;
$fw-heavy: 700;
$fw-normal: 400;
//
$Z-regular: 1;
$Z-important: 11;
//
$transition-delay: 0.5s;
// variables used in react js files will be exported down below;
:export {
	zRegular: $Z-regular;
	zImportant: $Z-important;
	lightCyan: $light-cyan;
}
