@import "./style/_variables.module";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,700&display=swap");
@font-face {
	font-family: Kitab;
	src: url("./fonts/Kitab-Regular.ttf");
}
* {
	scrollbar-color: $light-cyan $secondary-bg;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
body {
	color: $white;
}
.App {
	width: 522px;
	min-height: 322px;
	max-height: 540px;

	background-color: $primary-bg;

	font-family: "Amiri", serif;

	margin: 0 auto;

	color: $primary-font-color;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;

	overflow-y: auto;
	overflow-x: hidden;
}
main,
footer {
	direction: rtl;
}
main {
	color: $primary-font-color;
}

//
.header {
	background-image: url("./img/banners/banner.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 9rem;

	margin: 0 0.3rem;
}
//
.snippet-wrapper {
	position: relative;

	font-family: "Kitab" !important;

	display: flex;
	flex-direction: column;
	align-items: center;

	.current-ayah-cta {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 350px;
		margin: 0.4rem auto 0;
	}
	.current-ayah-from-surah {
		text-align: center;
		margin: 0.7rem 0;
		font-size: $fs-xnormal;
		color: $white;
	}
	.current-ayah {
		background-image: url("./img/banners/ayah_banner.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;

		position: relative;

		font-size: $fs-large;
		font-family: "Kitab" !important;

		text-align: center;

		padding: 2rem 1.4rem;

		min-height: 120px;
		max-height: 320px;
		width: 100%;

		overflow-y: auto;
		overflow-x: hidden;

		.loading-animation {
			display: block;

			border: 1px solid $secondary-bg;
			border-top: 1px solid $light-cyan;
			border-radius: 50%;
			width: 1.6rem;
			height: 1.6rem;
			animation: rotation 0.5s linear infinite;

			position: absolute;
			top: 41%;
			left: 46%;
		}

		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	.upward {
		transform: rotate(180deg);
		transition: all $transition-delay ease-in-out;
	}
	.downward {
		transform: rotate(360deg);
		transition: all $transition-delay ease-in-out;
	}
	.current-ayah-details-hidden {
		position: relative;

		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-around;

		margin-bottom: 1rem;
		.wrapper {
			background-color: $primary-bg;

			overflow-y: auto;

			transition: all $transition-delay ease-in-out;

			position: absolute;
			left: 0;
			top: 10px;

			width: 100%;

			text-align: center;

			.row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				color: $white;
				margin: 0 0 0.4rem;
				padding: 0 0.2rem;
				&:last-of-type {
					justify-content: center;
				}
				& > span {
					display: block;
					width: 50%;
				}
				.header-span {
					display: block;
					text-align: center;
					font-weight: $fw-heavy;
				}
				span {
					margin: 0 0.2rem;
					font-weight: $fw-normal;
				}
			}
			.numbers-row {
				span {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
				}
			}
		}
	}
	.bookmark-ayah {
		height: 24px;
		button {
			&:hover {
				cursor: pointer;
			}
		}
	}
}
//
.settings {
	h2 {
		padding: 0 0.2rem;
		font-weight: 700;
	}
	h2,
	h4 {
		color: $light-cyan;
	}
	.settings-options {
		& > div {
			padding: 0 0.4rem;
		}
	}
	.change-lang-option {
		display: flex;
		align-items: center;
		input {
			margin: 1rem;
		}
	}
	.freq-wrapper {
		div {
			width: 100%;
			display: flex;

			span {
				display: inline-block;
			}

			select {
				margin: 0 0.2rem;
			}
		}
	}
}

.popup-css {
	background-color: $primary-bg;

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.popup-css-infinite {
	overflow-y: auto;
	max-height: fit-content;
}
.toggle-button {
	border: 1px solid $grey;
	border-radius: 5px;

	padding: 1px 2px;
	text-align: center;

	border: 1px solid $secondary-bg;

	height: 19px;

	line-height: 0;

	display: flex;
	align-items: center;

	position: absolute;
	top: 10px;

	z-index: $Z-important;

	&:hover {
		cursor: pointer;
	}
}
//
.bookmarks {
	h2 {
		color: $light-cyan;
	}

	overflow-y: auto;
	.bookmarked-ayahs {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		font-size: $fs-normal;
		.bookmarked-ayah-container {
			margin: 0.5rem 0;
			padding: 0.2rem 0;

			.bookmarked-ayah-cta {
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					&:hover {
						cursor: pointer;
					}
				}

				p {
					font-family: "Kitab" !important;
				}
			}
			.bookmarked-ayah-body {
				border: 1px solid $light-cyan;

				line-height: 2.2rem;

				overflow-y: auto;

				padding: 0.4rem 0;

				text-align: center;

				max-height: 4rem;
			}
		}
		.no-bookmarks-placeholder {
			p {
				padding: 0 0.2rem;
			}

			margin-top: 1rem;

			div:last-of-type {
				position: relative;

				margin-top: 2rem;

				text-align: center;
				&::after {
					content: "";

					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;

					margin: 0 auto;

					width: 5rem;
					height: 1px;

					background-color: $white;
				}
			}
		}
	}
}
//
.about {
	h2 {
		margin-left: 0.2rem;
	}
	.about-body {
		margin-left: 0.2rem;
		& > div {
			margin-bottom: 0.5rem;
		}
		p {
			padding: 0.5rem 0.2rem;
		}
		h3 {
			margin-top: 1rem;
			text-align: center;
		}
	}
}
//
footer {
	margin-top: 0.7rem;

	ul {
		width: 80%;
		margin: 0 auto;

		display: flex;
		justify-content: space-around;
		align-items: center;

		padding: 0 0.4rem;
		li {
			text-shadow: 0px 2px 1px $black;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
		.lang-link,
		.bookmarks-link {
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				padding: 0 3px;
			}
		}
	}
}

// generic classes and styling;
.divider {
	height: 2px;
	width: 85%;
	margin: 0.4rem auto;
	background-color: $light-cyan;
}

.cta-button {
	border: 0;
	background-color: transparent;
}

.highlight-link {
	padding: 0.2rem 0;
	text-decoration: underline;

	color: $cyan;
	&:hover {
		color: $light-cyan;
		text-decoration: underline;
	}
}

.highlight-numbers {
	color: $light-cyan;
}
